{% extends '@Game/base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li class="active"><i class="icon-users"></i> Users</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-flat m-15">
        <div class="table-responsive">
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Roles</th>
                        <th>Tagged in</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img class="img-circle img-thumbnail" style="width: 60px;" src="{{ user.profilePicture }}">
                                <span class="ml-10"><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.username }}</a></span>
                                <small class="text-size-mini">{{ user.email }}</small>
                            </h4>
                        </td>
                        <td class="center aligned">
                            {% for role in user.roles %}
                                <code>{{ role }}</code>
                            {% endfor %}
                        </td>
                        <td class="center aligned">
                            {% for tag in user.tags %}
                                <span class="label label-default position-right">{{ tag.name }}</span>
                            {% endfor %}
                        </td>
                        <td class="center aligned">
                            <ul class="icons-list">
                                <li class="text-primary-600"><a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="icon-pencil7"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/tables/datatables_basic.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/forms/selects/select2.min.js') }}"></script>
{% endblock %}
