{% extends '@Game/base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_user_index') }}"><i class="icon-users"></i> Users</a></li>
                <li class="active">{{ user.username }}</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="icon-pencil5"></i> Edit</a></li>
                <li>
                    {{ form_start(delete_form) }}
                    <button style="margin-top: 4px;" type="submit" class="btn btn-xs bg-danger btn-labeled"><b><i class="icon-trash"></i></b> Delete</button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>UUID</td>
                <td><code>{{ user.id }}</code></td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>
                    <i class="{{ true == user.enabled ? 'icon-checkmark4 text-success' : 'icon-cross2 text-danger' }} icon"></i>
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td><span class="text-bold">{{ user.username }}</span></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    {% for role in user.roles %}
                        <code>{{ role }}</code>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Tagged in</td>
                <td>
                    {% for tag in user.tags %}
                        <span class="label label-default">{{ tag.name }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Github Id</td>
                <td>{{ user.githubid }}</td>
            </tr>
            <tr>
                <td>Github access token</td>
                <td><code>{{ user.githubaccesstoken }}</code></td>
            </tr>
            <tr>
                <td>Google Id</td>
                <td>{{ user.googleid }}</td>
            </tr>
            <tr>
                <td>Google access token</td>
                <td><code>{{ user.googleaccesstoken }}</code></td>
            </tr>
            <tr>
                <td>Profile picture</td>
                <td>
                    <img class="img-circle img-thumbnail" style="width: 60px;" src="{{ user.profilePicture }}">
                    <span class="ml-10 text-light">{{ user.profilePicture }}</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
