{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_badge_index') }}"><i class="icon-medal2"></i> Badges</a></li>
                <li class="active">"{{ badge.title }}"</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="{{ path('admin_badge_edit', { 'id': badge.id }) }}"><i class="icon-pencil5"></i> Edit</a></li>
                <li>
                    {{ form_start(delete_form) }}
                        <button style="margin-top: 4px;" type="submit" class="btn btn-xs bg-danger btn-labeled"><b><i class="icon-trash"></i></b> Delete</button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <td class="text-bold">UUID</td>
            <td><code>{{ badge.id }}</code></td>
        </tr>
        <tr>
            <td class="text-bold">Title</td>
            <td>{{ badge.title }}</td>
        </tr>
        <tr>
            <td class="text-bold">Description</td>
            <td class="description">{{ badge.description|nl2br }}</td>
        </tr>
        <tr>
            <td class="text-bold">Tagged in</td>
            <td>
                {% for tag in badge.tags %}
                    <span class="label label-default">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="text-bold">Picture</td>
            <td><img src="{{ badge.imageWebPath }}" class="img-responsive img-rounded media-preview"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
