{% extends '@Gate/base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_tag_index') }}"><i class="icon-price-tag2"></i> Tags</a></li>
                <li class="active"><i class="icon-pencil7"></i> Edit tag "{{ tag.name }}"</li>
            </ul>
        </div>
    </div>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="panel panel-flat m-15">
        <div class="panel-body">
            {{ form_widget(edit_form) }}

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#tag_name').on('input', function () {
                var name = $('#tag_name').val();
                // Credits: http://stackoverflow.com/questions/11815883/convert-non-ascii-characters-umlauts-accents-to-their-closest-ascii-equiva
                var code = name.normalize('NFKD').toLowerCase()
                        .replace(/[\u0300-\u036F]/g, '')
                        .replace(/[^\w\s-]/g, '') // remove non-word [a-z0-9_], non-whitespace, non-hyphen characters
                        .replace(/[\s_-]+/g, '-') // swap any length of whitespace, underscore, hyphen characters with a single -
                        .replace(/^-+|-+$/g, ''); // remove leading, trailing -

                $('#tag_code').val(code);
            });
        });
    </script>
{% endblock %}
