{% extends 'GateBundle::base-admin.html.twig' %}

{% block body %}
    <h1>Badge edit</h1>

    {{ form_start(edit_form, { 'attr': {'class': 'ui form'} }) }}
    {{ form_errors(edit_form) }}

    <div class="ui field">
        {{ form_label(edit_form.title) }}
        {{ form_errors(edit_form.title) }}
        {{ form_widget(edit_form.title) }}
    </div>

    <div class="ui field">
        {{ form_label(edit_form.description) }}
        {{ form_errors(edit_form.description) }}
        {{ form_widget(edit_form.description) }}
    </div>

    <div class="ui field">
        {{ form_label(edit_form.file) }}
        <img src="{{ badge.imageWebPath }}" alt=""/>
        {{ form_errors(edit_form.file) }}
        {{ form_widget(edit_form.file) }}
    </div>

    <div class="ui clearing">
        <button class="ui right floated primary button" type="submit">Edit</button>
    </div>

    {{ form_end(edit_form) }}


    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

    {{ form_start(delete_form) }}
    <div class="ui clearing">
        <button class="ui right floated red button" type="submit">Delete</button>
    </div>
    {{ form_end(delete_form) }}
{% endblock %}
