{% extends 'GateBundle::base.html.twig' %}

{% block body %}
    <h1>Badge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ badge.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ badge.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ badge.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ badge.imagePath }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_badge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_badge_edit', { 'id': badge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
