{% extends '@Game/base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_tag_index') }}"><i class="icon-price-tag2"></i> Tags</a></li>
                <li class="active">"{{ tag.name }}"</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="{{ path('admin_tag_edit', { 'id': tag.id }) }}"><i class="icon-pencil5"></i> Edit</a></li>
                <li>
                    {{ form_start(delete_form) }}
                    <button style="margin-top: 4px;" type="submit" class="btn btn-xs bg-danger btn-labeled"><b><i class="icon-trash"></i></b> Delete</button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>UUID</td>
                <td><code>{{ tag.id }}</code></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ tag.name }}</td>
            </tr>
            <tr>
                <td>Code</td>
                <td><code>{{ tag.code }}</code></td>
            </tr>
            <tr>
                <td>Is default</td>
                <td>
                    <i class="{{ true == tag.isDefault ? 'icon-checkmark4 text-success' : 'icon-cross2 text-danger' }} icon"></i>
                </td>
            </tr>
            <tr>
                <td>Created at</td>
                <td>{% if tag.createdAt %}{{ tag.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
