{% extends 'GateBundle::base.html.twig' %}

{% block body %}
    <div class="ui main container ir-badge-proposals">
        <div class="ui segment">
            <div>
                <a class="ui right floated button" href="{{ url('badge_proposal_new') }}"><i class="ui plus icon"></i> Propose a badge</a>
                <h2 class="ui header main-title">Badge Proposals</h2>
            </div>
            <div class="badge-proposals">
                {% set badgeProposals = badgeVoteSummary.getBadgeProposals %}
                {% if badgeProposals is not empty %}
                    {% for badgeProposal in badgeProposals %}
                        <div class="ui grid" data-badge-proposal-id="{{ badgeProposal.id }}" style="clear:both">
                            <div class="eleven wide column">
                                <h3>{{ badgeProposal.title }}</h3>
                                <div class="description">{{ badgeProposal.description }}</div>
                            </div>
                            <div class="three wide column leaderboard-username">
                                <div class="ui mini circular image">
                                    <img src="{{ badgeProposal.user.profilePicture }}">
                                </div>
                                <a style="font-weight: normal;" href="{{ url('userprofile', {'username': badgeProposal.user.username}) }}" class="header">{{ badgeProposal.user.username }}</a>
                                <span style="font-size: 20px; font-weight: bold;" class="ui right floated"></span>
                            </div>
                            <div class="one wide column vote downvote{% if true == badgeVoteSummary.hasDownvoted(badgeProposal) %} activated{% endif %}">
                                <a href="#" class="downvote-button">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </a>
                            </div>
                            <div class="one wide column vote upvote{% if true == badgeVoteSummary.hasUpvoted(badgeProposal) %} activated{% endif %}">
                                <a href="#" class="upvote-button">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    There is no badge proposal for now!
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function updateVotes(result) {
            // TODO
            console.log(result);
        }
        $(document).ready(function() {
            $('.upvote-button').click(function () {
                $.post(
                        '{{ url('badge_proposal_toggle_upvote') }}',
                        {badgeProposalId: $(this).closest('.grid').data('badge-proposal-id')},
                        updateVotes
                );
                return false;
            });
            $('.downvote-button').click(function () {
                $.post(
                        '{{ url('badge_proposal_toggle_downvote') }}',
                        {badgeProposalId: $(this).closest('.grid').data('badge-proposal-id')},
                        updateVotes
                );
                return false;
            });
        });
    </script>
{% endblock %}
