{% extends '@Gate/base.html.twig' %}

{% block body %}
    <div class="ui main container ir-badges">
        <div class="ui center aligned basic segment">
            <img class="ui image tiny" style="display: inline-block;" src="{{ asset('bundles/gate/images/badge.svg') }}" alt=""/>
            <h2 class="main-title">AVAILABLE BADGES</h2>
            <p style="color: #C3C3C3;">Here are badges you can unlock.<br/>Some of them are stupids, but a badge is a badge!</p>
        </div>

        <div class="ui four cards">
            {% for badge in badges %}
                <div class="card {{ badge.id in unlockedBadgesIds ? 'unlocked' : 'locked' }}" >
                    <div class="image" style="padding: 10px;">
                        {% if badge.id in unlockedBadgesIds %}
                        <span class="ui left corner green label">
                            <i class="checkmark icon"></i>
                        </span>
                        {% endif %}
                        {% if badge.id in claimedBadgeIds %}
                        <span class="ui left corner blue label">
                            <i class="wait icon"></i>
                        </span>
                        {% endif %}
                        <img src="{{ badge.imageWebPath }}">
                    </div>
                    <div class="content">
                        <div class="header"><a href="{{ url('viewbadge', {id: badge.id}) }}">{{ badge.title }}</a></div>
                        <div class="description">
                            {{ badge.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
