{% extends '@Gate/base.html.twig' %}

{% block body %}
    <div class="ui main container ir-dashboard">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui card">
                    <div class="content">
                        <div class="right floated meta">Core Team</div>
                        <img class="ui avatar image" src="{{ app.user.profilePicture }}"> {{ app.user.username }}
                    </div>
                    <div class="content">
                        <div class="ui small statistic">
                            <div class="value">
                                {{ unlockedBadges|length }}
                            </div>
                            <div class="label">
                                Badges
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                {% if unlockedBadges|length > 0 %}
                <div class="ui stacked segments">
                    <div class="ui segment">
                        <p><b>Unlocked badges</b></p>
                    </div>
                    <div class="ui segment">
                        <div class="ui three cards">
                            {% for unlockedBadge in unlockedBadges %}
                                <div class="card">
                                    <div class="image" style="padding: 10px;">
                                        <img src="{{ unlockedBadge.badge.imageWebPath }}">
                                    </div>
                                    <div class="content">
                                        <div class="header">{{ unlockedBadge.badge.title }}</div>
                                        <div class="description">
                                            {{ unlockedBadge.badge.description }}
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <small><i class="icon check square"></i> Unlocked on {{ unlockedBadge.unlockedDate|date("d/m/Y") }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="ui icon message">
                        <i class="frown icon"></i>
                        <div class="content">
                            <div class="header">
                                No unlocked badge
                            </div>
                            <p>
                                Challenge yourself by trying to unlock new badges and show the best you can do!
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}