{% extends '@Gate/base.html.twig' %}

{% block body %}
    <div class="ui main container ir-dashboard">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui card">
                    <div class="content">
                        <div class="right floated meta">Core Team</div>
                        <img class="ui avatar image" src="{{ user.profilePicture }}"> {{ user.username }}
                    </div>
                    <div class="content">
                        <div class="ui small statistic">
                            <div class="value">
                                {{ unlockedBadges|length }}
                            </div>
                            <div class="label">
                                Badges
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <h2 class="ui dividing header"><i class="icon trophy"></i> Unlocked badges</h2>
                {% if unlockedBadges|length > 0 %}
                    <div class="ui basic segment">
                        <div class="ui three cards">
                            {% for unlockedBadge in unlockedBadges %}
                                <div class="card">
                                    <div class="image" style="padding: 10px;">
                                        <img src="{{ unlockedBadge.badge.imageWebPath }}">
                                    </div>
                                    <div class="content">
                                        <div class="header">{{ unlockedBadge.badge.title }}</div>
                                        <div class="description">
                                            {{ unlockedBadge.badge.description }}
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <small><i class="icon check square"></i> Unlocked on {{ unlockedBadge.unlockedDate|date("d/m/Y") }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="ui message">
                        <div class="content">
                            <div class="header">
                                No unlocked badge
                            </div>
                            <p>
                                {% if app.user.username == user.username %}
                                    Challenge yourself by trying to unlock your first badges, you can do it! <i class="icon child"></i>
                                {% else %}
                                    This user has no badge for now, come later to see his profile!
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}