{% extends 'GateBundle::base-admin.html.twig' %}

{% block body %}
    <h1 class="page-header">Achievement list</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achievement in achievements %}
            <tr>
                <td><a href="{{ path('admin_achievement_show', { 'id': achievement.id }) }}">{{ achievement.id }}</a></td>
                <td>{{ achievement.title }}</td>
                <td>{{ achievement.description }}</td>
                <td><img src="{{ asset(achievement.getImageWebPath) }}" style="max-height: 50px; max-width: 50px;" alt=""/></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_achievement_show', { 'id': achievement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_achievement_edit', { 'id': achievement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th colspan="5">
                <a href="{{ path('admin_achievement_new') }}" class="ui right floated small primary labeled icon button">
                    <i class="plus icon"></i> Create Achievement
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
