{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_quest_index') }}"><i class="icon-trophy4"></i> Quests</a></li>
                <li class="active"><i class="icon-plus2"></i> Create</li>
            </ul>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="panel panel-flat m-15">
        <div class="panel-body">
            {{ form_widget(form) }}

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Create <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('vendor/dist/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/pickers/pickadate/picker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/pickers/pickadate/picker.date.js') }}"></script>

    <script>
        $('#quest_startDate').pickadate({
            selectYears: true,
            selectMonths: true,
            format: 'yyyy/mm/dd',
            formatSubmit: 'yyyy-mm-dd'
        });

        $('#quest_endDate').pickadate({
            selectYears: true,
            selectMonths: true,
            format: 'yyyy/mm/dd',
            formatSubmit: 'yyyy-mm-dd'
        });

        $('#quest_tags').selectize({
            plugins: ['remove_button'],
        });
    </script>
{% endblock %}
