{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_quest_index') }}"><i class="icon-trophy4"></i> Quests</a></li>
                <li class="active">"{{ quest.title }}"</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="{{ path('admin_quest_edit', { 'id': quest.id }) }}"><i class="icon-pencil5"></i> Edit</a></li>
                <li>
                    {{ form_start(delete_form) }}
                    <button style="margin-top: 4px;" type="submit" class="btn btn-xs bg-danger btn-labeled"><b><i class="icon-trash"></i></b> Delete</button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <td class="text-bold">UUID</td>
            <td><code>{{ quest.id }}</code></td>
        </tr>
        <tr>
            <td class="text-bold">Title</td>
            <td>{{ quest.title }}</td>
        </tr>
        <tr>
            <td class="text-bold">Description</td>
            <td class="description">{{ quest.description|nl2br }}</td>
        </tr>
        <tr>
            <td class="text-bold">Reward</td>
            <td>{{ quest.reward }}</td>
        </tr>
        <tr>
            <td class="text-bold">Starts on</td>
            <td>{{ quest.startDate|date('Y/m/d') }}</td>
        </tr>
        <tr>
            <td class="text-bold">Ends on</td>
            <td>{{ quest.endDate|date('Y/m/d') }}</td>
        </tr>
        <tr>
            <td class="text-bold">Tagged in</td>
            <td>
                {% for tag in quest.tags %}
                    <span class="label label-default">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        // Auto link quests descriptions
        $('.description').each(function () {
            var linkedText = Autolinker.link( $(this).html() );
            $(this).html(linkedText);
        });
    </script>
{% endblock %}
