{% extends '@Gate/base.html.twig' %}

{% block body %}
    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-bottom">
            {% for tag in tags %}
                {% if tag.badges is not empty %}
                <li class="{{ 1 == loop.index ? 'active' : ''}}"><a href="#{{ tag.code }}" data-toggle="tab">{{ tag.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for tag in tags %}
                {% if tag.badges is not empty %}
                <div class="tab-pane {{ 1 == loop.index ? 'active' : ''}}" id="{{ tag.code }}">
                    <!-- Latest added -->
                    {% for row in tag.badges|batch(2) %}
                    <div class="row">

                        {% for badge in row %}
                        <div class="col-md-6">
                            {% if badge.id in unlockedBadgesIds %}
                            <div class="panel border-lg border-success" style="box-shadow: 0 0 15px -4px rgba(2,168,41,1);">
                            {% else %}
                            <div class="panel" style="opacity: 0.8;">
                            {% endif %}
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ url('viewbadge', {id: badge.id}) }}">
                                                <img style="width: 100px; height: 100px;" class="img-circle img-thumbnail" src="{{ badge.imageWebPath }}" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <h6 class="media-heading text-semibold">
                                                {% if badge.id in unlockedBadgesIds %}
                                                    <i class="icon-checkmark position-left text-success"></i>
                                                {% endif %}

                                                <a href="{{ url('viewbadge', {id: badge.id}) }}" class="text-default">{{ badge.title }}</a>
                                            </h6>
                                            <span class="description">
                                                {{ badge.description }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endfor %}
                    <!-- /latest added -->
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Auto link quests descriptions
        $('.description').each(function () {
            var linkedText = Autolinker.link( $(this).html() );
            $(this).html(linkedText);
        });
    </script>
{% endblock %}
