<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendor/semantic-ui-css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/selectize.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/selectize.default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="{% block bodyclass %}{% endblock %} admin">

<div class="ui container">
    <div class="ui small menu">
        <div class="ui dropdown item">
            <i class="icon trophy"></i> Badges <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ url('admin_badge_index') }}" class="item"><i class="icon list layout"></i> List</a>
                <a href="{{ url('admin_badge_new') }}" class="item"><i class="icon plus"></i> Create</a>
                <a href="{{ url('admin_claimed_badge_index') }}" class="item"><i class="wait icon"></i> Claimed Badges</a>
                <a href="{{ url('admin_unlocked_badge_new') }}" class="item"><i class="icon add user"></i> Give a Badge</a>
                <a href="{{ url('admin_unlocked_badge_delete') }}" class="item"><i class="icon remove user"></i> Remove a Badge</a>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="icon tags"></i> Tags <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ url('admin_tag_index') }}" class="item"><i class="icon list layout"></i> List</a>
                <a href="{{ url('admin_tag_new') }}" class="item"><i class="icon plus"></i> Create</a>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="icon users"></i> Users <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ url('admin_user_index') }}" class="item"><i class="icon list layout"></i> List</a>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="icon calendar"></i> Quest <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ url('admin_quest_index') }}" class="item"><i class="icon list layout"></i> List</a>
                <a href="{{ url('admin_quest_new') }}" class="item"><i class="icon plus"></i> Create</a>
                <a href="{{ url('admin_claimed_quest_index') }}" class="item"><i class="wait icon"></i> Pending Quest Completions</a>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="icon setting"></i> Configuration <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ url('admin_configuration_index') }}" class="item"><i class="icon list layout"></i> List</a>
                <a href="{{ url('admin_configuration_form') }}" class="item"><i class="icon plus"></i> Create</a>
            </div>
        </div>
        <div class="right menu">
            <div class="item">
                <a href="{{ url('homepage') }}" class="ui button"><i class="icon home"></i> Back to Dashboard</a>
            </div>
        </div>
    </div>

    <div class="ui grid">

        <div class="sixteen wide column">
            {% block body %}
            {% endblock %}
        </div>

    </div>
</div>

<script src="{{ asset('vendor/dist/jquery.js') }}"></script>
<script src="{{ asset('vendor/dist/underscore-min.js') }}"></script>
<script src="{{ asset('vendor/semantic-ui-css/semantic.min.js') }}"></script>
<script src="{{ asset('vendor/dist/select2.min.js') }}"></script>
<script src="{{ asset('vendor/dist/selectize.min.js') }}"></script>
<script src="{{ asset('vendor/dist/Autolinker.min.js') }}"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
