<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendor/semantic-ui-css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/selectize.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/dist/selectize.default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="{% block bodyclass %}{% endblock %} admin">

<div class="ui container">
    <div class="ui grid">

        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <img style="float: right;" src="{{ asset('bundles/gate/images/badger-small.png') }}" alt=""/><h3 style="margin: 0;">ADMIN</h3>
                </div>
                <div class="item">
                    <div class="header">Badges</div>
                    <div class="menu">
                        <a href="{{ url('admin_badge_index') }}" class="item">List</a>
                        <a href="{{ url('admin_badge_new') }}" class="item">Create</a>
                        <a href="{{ url('admin_unlocked_badge_new') }}" class="item">Give a Badge</a>
                        <a href="{{ url('admin_unlocked_badge_delete') }}" class="item">Remove a Badge</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Tags</div>
                    <div class="menu">
                        <a href="{{ url('admin_tag_index') }}" class="item">List</a>
                        <a href="{{ url('admin_tag_new') }}" class="item">Create</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Users</div>
                    <div class="menu">
                        <a href="{{ url('admin_user_index') }}" class="item">List</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Configuration</div>
                    <div class="menu">
                        <a href="{{ url('admin_configuration_index') }}" class="item">List</a>
                        <a href="{{ url('admin_configuration_form') }}" class="item">Create</a>
                    </div>
                </div>
                <a href="{{ url('admin_claimed_badge_index') }}" class="item">
                Claimed badges <i class="wait icon"></i>
                </a>
                <a href="{{ url('homepage') }}" class="item"><i class="icon home"></i> Back to dashboard</a>
            </div>
        </div>

        <div class="twelve wide column">
            {% block body %}
            {% endblock %}
        </div>

    </div>
</div>

<script src="{{ asset('vendor/dist/jquery.js') }}"></script>
<script src="{{ asset('vendor/dist/underscore-min.js') }}"></script>
<script src="{{ asset('vendor/semantic-ui-css/semantic.min.js') }}"></script>
<script src="{{ asset('vendor/dist/select2.min.js') }}"></script>
<script src="{{ asset('vendor/dist/selectize.min.js') }}"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>
