{% extends '@Gate/base.html.twig' %}

{% block body %}
    <!-- Grid -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="active"><a href="#available" data-toggle="tab"><span class="badge badge-danger position-left">{{ countAvailableQuests }}</span> Available</a></li>
                    <li><a href="#completed" data-toggle="tab"><span class="badge badge-default position-left">{{ countCompletedQuests }}</span> Completed</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="available">
                        {% if availableQuests is empty %}
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <div class="icon-object border-info-400 text-info"><i class="icon-trophy4"></i></div>
                                    <h5 class="text-semibold">No quest available</h5>
                                    <p class="mb-15">There is no quest available for now, come back later!</p>
                                </div>
                            </div>
                        {% endif %}

                        {% for quest in availableQuests %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-flat {{ quest.id in claimedQuestIds ? 'border-left-xlg border-left-blue' : '' }}" style="background: #ffffff url('{{ asset('bundles/gate/images/quest-background-pattern.png') }}') repeat-y right;">
                                        <div class="panel-heading" style="background-color: transparent;">
                                            <h6 class="panel-title"><i class="icon-trophy4"></i> <span class="text-semibold text-uppercase">{{ quest.title }}</span></h6>
                                        </div>

                                        <div class="panel-body description">
                                            {{ quest.description|nl2br }}
                                        </div>

                                        <div class="panel-footer">
                                            <div class="heading-elements">
                                                {% if quest.id in claimedQuestIds %}
                                                    <span class="heading-text text-semibold">
                                                        <i class="icon-hour-glass"></i> Waiting for validation
                                                    </span>
                                                {% else %}
                                                    <button data-quest="{{ quest.id }}" type="button" class="ml-10 btn btn-primary btn-ladda btn-ladda-spinner heading-btn claim" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                                                        <span class="ladda-label">Claim this quest</span><span class="ladda-spinner"></span>
                                                    </button>
                                                {% endif %}

                                                <div class="pull-right">
                                                    <span class="label label-flat border-primary text-primary-600 heading-text">+{{ quest.reward }} nuts</span>
                                                    <div class="progress">
                                                        {% set differenceUntilEnd = quest.endDate.diff(date('yesterday')) %}
                                                        {% set differenceFromStart = quest.startDate.diff(date('yesterday')) %}
                                                        {% set differenceTotal = quest.endDate.diff(quest.startDate, true) %}
                                                        <div class="progress-bar" style="width: {{ 100 * differenceFromStart.days / differenceTotal.days }}%;">
                                                            <span class="">{{ differenceUntilEnd.days }} days left</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="completed">
                        {% if questCompletions is empty %}
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <div class="icon-object border-success-400 text-success"><i class="icon-stack-check"></i></div>
                                    <h5 class="text-semibold">No completed quest</h5>
                                    <p class="mb-15">This tab will list all the quests you have unlocked. Let's have some work!</p>
                                </div>
                            </div>
                        {% endif %}

                        {% for completion in questCompletions %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-flat border-left-xlg border-left-success" style="background: #ffffff url('{{ asset('bundles/gate/images/quest-background-pattern.png') }}') repeat-y right;">
                                        <div class="panel-heading" style="background-color: transparent;">
                                            <h6 class="panel-title"><i class="icon-trophy4"></i> <span class="text-semibold text-uppercase">{{ completion.quest.title }}</span></h6>
                                        </div>

                                        <div class="panel-body description">
                                            {{ completion.quest.description|nl2br }}
                                        </div>

                                        <div class="panel-footer">
                                            <div class="heading-elements">
                                                <span class="label label-flat border-success text-success-600 heading-text">+{{ completion.quest.reward }} nuts</span>
                                                <span class="text-success heading-text"><i class="icon-checkmark"></i> Completed on {{ completion.completionDate|date('Y/m/d') }}</span>
                                                <div class="pull-right">
                                                    <span class="heading-text">{{ completion.quest.getApprovedCompletionsCount }} users completed this quest</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /grid -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gate/js/plugins/buttons/spin.min.js') }}"></script>
    <script src="{{ asset('bundles/gate/js/plugins/buttons/ladda.min.js') }}"></script>

    <script>
        // Auto link quests descriptions
        $('.description').each(function () {
            var linkedText = Autolinker.link( $(this).html() );
            $(this).html(linkedText);
        });

        var $button = $('.claim');
        $button.click(function() {
            // Create a new instance of ladda for the specified button
            var l = Ladda.create( $(this)[0] );
            var questId = $(this).data('quest');

            if ($(this).prop('disabled')) {
                return;
            }

            l.start();

            $.post('/claim/quest/' + questId).then(function() {
                l.stop();
                $(this).html('<i class="icon-checkmark"></i> Claimed').prop('disabled', true);
            }.bind(this), function () {
                l.stop();
                $(this).html('<i class="icon-warning"></i> An error occured, click again to retry');
            }.bind(this));
        });
    </script>
{% endblock %}
