{% extends '@Gate/base.html.twig' %}

{% block body %}
<div class="ui main container ir-dashboard">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui card badge {{ isUnlocked ? 'unlocked' : '' }}" >
                {% if isUnlocked %}
                <div class="image" style="padding: 10px;">
                    <span class="ui left corner green label">
                        <i class="checkmark icon"></i>
                    </span>
                    <img src="{{ badge.imageWebPath }}">
                </div>
                {% else %}
                <div class="blurring dimmable image" style="padding: 10px;">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                {% if not isClaimed %}
                                    <button class="ui inverted button claim"><i class="fa fa-thumbs-up"></i> Claim</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <img src="{{ badge.imageWebPath }}">
                </div>
                {% endif %}
                <div class="content">
                    <div class="header">{{ badge.title }}</div>
                    <div class="description">
                        {{ badge.description }}
                    </div>
                    {% if isClaimed %}
                        <a style="margin-top: 7px;" class="ui blue ribbon label"><i class="fa fa-clock-o"></i>&nbsp; You claimed this badge!</a>
                    {% endif %}
                </div>
                <div class="content" style="text-align: center;">
                    <div class="ui small statistic">
                        <div class="value">
                            {{ percentUnlock }}%
                        </div>
                        <div class="label">
                            of users
                        </div>
                        <div class="ui tiny indicating progress" data-percent="{{ percentUnlock }}" id="allunlocks" style="margin: 5px 0;">
                            <div class="bar" style="min-width: 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if unlockedBadges|length > 0 %}
                <div class="ui segment">
                    <h2 class="ui dividing header">People who have this badge</h2>
                    <div class="ui five cards">
                        {% for unlockedBadge in unlockedBadges %}
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="{{ unlockedBadge.user.profilePicture }}">
                                </div>
                                <div class="content">
                                    <a href="{{ url('userprofile', {'username': unlockedBadge.user.username}) }}" class="header">{{ unlockedBadge.user.username }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="ui message">
                    <div class="content">
                        <div class="header">
                            No unlock
                        </div>
                        <p>
                            No one unlocked this badge!
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#allunlocks').progress();

        {% if not isUnlocked and not isClaimed %}
            $('.card.badge .image').dimmer({on: 'hover'});

            $button = $('.claim');
            $button.click(function() {
                if ($button.hasClass('blue') || $button.hasClass('loading')) {
                    return;
                }

                $button.addClass('loading');

                $.post('{{ url('claimbadge', {'id': badge.id}) }}').then(function() {
                    $button.removeClass('loading').addClass('blue').html('<i class="fa fa-clock-o" ></i> Claimed!');
                }, function () {
                    $button.removeClass('loading').addClass('red').html('<i class="fa fa-exclamation-triangle"></i> An error occurred');
                });
            });
        {% endif %}
    </script>
{% endblock %}
