{% extends '@Gate/base.html.twig' %}

{% block pagecontentclass %}paper-bg{% endblock %}

{% block body %}
    <!-- ADVENTURE DETAILS -->
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 mt-20">
            <div class="panel" style="background: #ffffff url('/bundles/gate/images/quest-background-pattern.png') repeat-y right;">
                <div class="panel-heading">
                    <h1 class="panel-title"><i class="icon-trophy3"></i> {{ adventure.title }}</h1>
                </div>
                <div class="panel-body no-padding-top">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="content-group-sm svg-center position-relative" id="goal-progress"></div>
                        </div>
                        <div class="col-md-9">
                            <p class="text-size-large">
                                {{ adventure.description|nl2br }}
                            </p>
                            <div class="text-muted mt-20">
                                <span class="mr-20 p-5 bg-warning-400 text-highlight">
                                    <i class="icon-medal2"></i> <b>{{ adventure.countAllBadges }}</b> <small>badges to unlock</small>
                                </span>
                                <span class="mr-20 p-5 bg-warning-400 text-highlight">
                                    <i class="icon-piggy-bank"></i> <b>{{ adventure.countAllNuts }}</b> <small>nuts to win</small>
                                </span>
                                <span class="mr-20 p-5 bg-warning-400 text-highlight">
                                    <i class="icon-move-down2"></i> <b>{{ adventure.steps|length }}</b> <small>total steps</small>
                                </span>
                                <span class="mr-20 p-5 bg-warning-400 text-highlight">
                                {% if adventure.isStepLinked %}
                                    <i class="icon-link"></i> <small>steps are <b>ordered</b></small>
                                {% else %}
                                    <i class="icon-link"></i> <small>steps are <b>not ordered</b></small>
                                {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if adventure.getRewardPoint > 0 or adventure.getBadge is not null %}
                    <div class="panel-footer">
                        {% if not isAdventureComplete %}
                        <div class="heading-elements">
                            <span class="heading-text text-semibold"><i class="icon-medal-star"></i> If you fully complete this adventure, you'll get an extra bonus of:</span>
                            <div class="pull-right">
                                {% if adventure.getRewardPoint > 0 %}
                                    <div class="media-left">
                                        <a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-piggy-bank"></i></a>
                                        <span class="badge bg-danger-400 media-badge">{{ adventure.getRewardPoint }}</span>
                                    </div>
                                {% endif %}

                                {% if adventure.getBadge is not null %}
                                    <div class="media-left no-padding-right">
                                        <a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-medal2"></i></a>
                                        <span class="badge bg-danger-400 media-badge">1</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                            <div class="heading-elements">
                                <span class="heading-text text-success text-semibold"><i class="icon-medal-star"></i> Adventure fully completed! Congratulations :)</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- #ADVENTURE DETAILS -->

    <!-- STEPS -->
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 mt-20">
            <div class="panel panel-flat p-15">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-move-down2"></i> Adventure's steps</h3>
                </div>
                <div class="panel-body">

                    <!-- HIDE IF ALREADY BEGAN -->
                    {% if completedSteps is empty %}
                    <div class="alert bg-info alert-styled-left alert-arrow-left">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">Select a step!</span> To begin or continue your journey, please select a step in the list.
                    </div>
                    {% endif %}

                    <div class="tabbable nav-tabs-vertical nav-tabs-left">
                        <ul class="nav nav-tabs nav-tabs-highlight">
                            {% for step in adventure.steps %}
                                <li>
                                    {% if (step not in completedSteps) %}
                                        <a href="#left-tab{{ step.position }}" data-toggle="tab">
                                            <i class="icon-stack-empty position-left"></i>
                                            <span class="text-muted {{ adventure.isStepLinked ? '' : 'hide' }}">#{{ step.position }}</span>
                                            <span class="text-semibold">{{ step.title }}</span>
                                        </a>
                                    {% else %}
                                        <a href="#left-tab{{ step.position }}" data-toggle="tab" class="text-success">
                                            <i class="icon-stack-check position-left"></i> <span class="text-muted {{ adventure.isStepLinked ? '' : 'hide' }}">#{{ step.position }}</span> <span class="text-semibold">{{ step.title }}</span>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for step in adventure.steps %}
                                <div class="tab-pane has-padding no-padding-top" id="left-tab{{ step.position }}">
                                    <h2 class="panel-title"><span class="text-muted {{ adventure.isStepLinked ? '' : 'hide' }}">#{{ step.position }}</span> {{ step.title }}</h2>
                                    <div>
                                        <p class="text-size-large mt-15">{{ step.description|nl2br }}</p>
                                        <br>
                                        <table class="table table-xlg">
                                            <tbody>
                                            <tr>
                                                {% if step.getBadge is not null %}
                                                    <td class="col-md-4">
                                                        <div class="media-left media-middle">
                                                            {% if (step not in completedSteps) %}
                                                                <a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-medal2"></i></a>
                                                            {% else %}
                                                                <a href="#" class="btn border-success-600 text-success-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-medal2"></i></a>
                                                            {% endif %}
                                                        </div>

                                                        <div class="media-left">
                                                            <h5 class="text-semibold no-margin">
                                                                1 <small class="display-block no-margin">badge</small>
                                                            </h5>
                                                        </div>
                                                    </td>
                                                {% endif %}

                                                {% if step.getRewardPoint > 0 %}
                                                    <td class="col-md-4">
                                                        <div class="media-left media-middle">
                                                            {% if (step not in completedSteps) %}
                                                                <a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-piggy-bank"></i></a>
                                                            {% else %}
                                                                <a href="#" class="btn border-success-600 text-success-600 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-piggy-bank"></i></a>
                                                            {% endif %}
                                                        </div>

                                                        <div class="media-left">
                                                            <h5 class="text-semibold no-margin">
                                                                {{ step.getRewardPoint }} <small class="display-block no-margin">nuts</small>
                                                            </h5>
                                                        </div>
                                                    </td>
                                                {% endif %}


                                                <td class="text-right col-md-4 no-padding-right">
                                                    {% if (step not in completedSteps and step not in claimedSteps) %}
                                                        {% if (completedSteps|length == step.position - 1 and adventure.isStepLinked) or (not adventure.isStepLinked) %}
                                                            <button type="button" class="ml-10 btn btn-default btn-ladda btn-ladda-spinner heading-btn claim" data-step="{{ step.id }}" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                                                                <span class="ladda-label">Mark as done</span><span class="ladda-spinner"></span>
                                                            </button>
                                                        {% endif %}
                                                    {% elseif (step in claimedSteps) %}
                                                        <button disabled type="button" class="ml-10 btn btn-default btn-ladda btn-ladda-spinner heading-btn claim" data-step="{{ step.id }}" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                                                            <i class="icon-checkmark"></i> <span class="ladda-label">Claimed</span>
                                                        </button>
                                                    {% else %}
                                                        <p class="text-success"><i class="icon-checkmark4 mr-10"></i> You completed this step, congrats!</p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #STEPS -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gate/js/plugins/buttons/spin.min.js') }}"></script>
    <script src="{{ asset('bundles/gate/js/plugins/buttons/ladda.min.js') }}"></script>
    <script src="{{ asset('bundles/gate/js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ asset('bundles/gate/js/plugins/visualization/d3/adventure.js') }}"></script>

    <script>
        $('.step-line').click(function() {
            var position = $(this).data('step-position');

            $('.step-line').removeClass('active');
            $(this).addClass('active');

            $('.selectedIndicator i').addClass('hide');
            $(this).find('.selectedIndicator i').removeClass('hide');

            $('.detailedStep').hide();
            $('#detailedStep' + position).show();
        });

        $button = $('.claim');
        $button.click(function() {
            // Create a new instance of ladda for the specified button
            var l = Ladda.create( $(this)[0] );

            if ($(this).prop('disabled')) {
                return;
            }

            l.start();

            var stepId = $(this).data('step');

            $.post('/claim/step/' + stepId).then(function() {
                l.stop();
                $(this).html('<i class="icon-checkmark"></i> Claimed').prop('disabled', true);
            }.bind(this), function () {
                l.stop();
                $(this).html('<i class="icon-warning"></i> An error occured, click again to retry');
            }.bind(this));
        });

        // Animated progress chart
        // ------------------------------
        var progression = {{ progression }} / 100;
        progression = progression > 100 ? 100 : progression;

        // Initialize charts
        progressCounter('#goal-progress', 38, 2, "#5C6BC0", progression, "icon-trophy3 text-indigo-400", 'Total progression', '');
    </script>
{% endblock %}
