{% extends '@Gate/base.html.twig' %}

{% block body %}
    <!-- Grid -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if isUnlocked %}
            <div class="panel border-lg border-success" style="margin-top: 50px; box-shadow: 0 0 15px -4px rgba(2,168,41,1);">
                <div class="panel-body text-center">
                    <img style="width: 150px; height: 150px; margin-top: -50px; box-shadow: 0px 0px 42px -12px rgba(0,0,0,0.75);" class="img-circle img-thumbnail" src="{{ badge.imageWebPath }}" alt="">
                    <h5 class="text-semibold">{{ badge.title }}</h5>
                    <p class="mb-15 description">{{ badge.description }}</p>
                    <p class="text-muted"><i class="icon-checkmark position-left text-success"></i> You unlocked this badge</p>
                </div>
            </div>
            {% else %}
            <div class="panel" style="margin-top: 50px;">
                <div class="panel-body text-center">
                    <img style="width: 150px; height: 150px; margin-top: -50px; box-shadow: 0px 0px 42px -12px rgba(0,0,0,0.75);" class="img-circle img-thumbnail" src="{{ badge.imageWebPath }}" alt="">
                    <h5 class="text-semibold">{{ badge.title }}</h5>
                    <p class="mb-15 description">{{ badge.description }}</p>
                    {% if not isClaimed %}
                    <button type="button" class="ml-10 btn bg-warning-400 btn-ladda btn-ladda-spinner heading-btn claim" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                        <span class="ladda-label">Claim this badge</span><span class="ladda-spinner"></span>
                    </button>
                    {% else %}
                        <span class="heading-text text-semibold text-muted">
                            <i class="icon-hour-glass"></i> You claimed this badge, waiting for validation
                        </span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            <div class="text-center content-group text-muted content-divider">
                <span class="pt-10 pb-10"><i class="icon-users"></i> People who have this badge</span>
            </div>

            {% for row in unlockedBadges|batch(4) %}
                <div class="row">

                    {% for unlockedBadge in row %}
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{{ url('userprofile', {'username': unlockedBadge.user.username}) }}" data-popup="lightbox">
                                            <img src="{{ unlockedBadge.user.profilePicture }}" class="img-circle img-lg" alt="">
                                        </a>
                                    </div>

                                    <div class="media-body">
                                        <h6 class="media-heading"><a class="text-default" href="{{ url('userprofile', {'username': unlockedBadge.user.username}) }}">{{ unlockedBadge.user.username }}</a></h6>
                                        <span class="text-muted">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /grid -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gate/js/plugins/buttons/spin.min.js') }}"></script>
    <script src="{{ asset('bundles/gate/js/plugins/buttons/ladda.min.js') }}"></script>

    <script>
        // Auto link quests descriptions
        $('.description').each(function () {
            var linkedText = Autolinker.link( $(this).html() );
            $(this).html(linkedText);
        });

        {% if not isUnlocked and not isClaimed %}
            $button = $('.claim');
            $button.click(function() {
                // Create a new instance of ladda for the specified button
                var l = Ladda.create( $(this)[0] );

                if ($(this).prop('disabled')) {
                    return;
                }

                l.start();

                $.post('{{ url('claimbadge', {'id': badge.id}) }}').then(function() {
                    l.stop();
                    $(this).html('<i class="icon-checkmark"></i> Claimed').prop('disabled', true);
                }.bind(this), function () {
                    l.stop();
                    $(this).html('<i class="icon-warning"></i> An error occured, click again to retry');
                }.bind(this));
            });
        {% endif %}
    </script>
{% endblock %}
