{% extends '@Gate/base-admin.html.twig' %}

{% block body %}
    <h1 class="page-header">User edit</h1>

    {{ form_start(edit_form, { 'attr': {'class': 'ui form'} }) }}
    {{ form_errors(edit_form) }}

    <div class="ui segments">
        <div class="ui segment">
            {{ form_widget(edit_form) }}
        </div>
        <div class="ui secondary clearing segment">
            <button class="ui right floated green button" type="submit"><i class="save icon"></i> Save</button>
        </div>
    </div>

    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <div class="ui basic segment center aligned clearing">
        <button class="ui small basic red button" type="submit"><i class="remove icon"></i> Delete</button>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $('#user_tags').selectize({
            plugins: ['remove_button'],
        });
    </script>
{% endblock %}
