{% extends '@Gate/base-admin.html.twig' %}

{% block body %}
    <div class="ui basic segment">
        <div class="ui large breadcrumb">
            <a class="section" href="{{ path('admin') }}">Admin</a>
            <div class="divider"> / </div>
            <a class="section" href="{{ path('admin_user_index') }}">Users</a>
            <div class="divider"> / </div>
            <div class="active section">Show user "{{ user.username }}"</div>
        </div>
    </div>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>UUID</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{ user.enabled ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    {% for role in user.roles %}
                        <div class="ui small label">{{ role }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Tagged in</td>
                <td>
                    {% for tag in user.tags %}
                        <div class="ui small teal label">{{ tag.name }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Github Id</td>
                <td>{{ user.githubid }}</td>
            </tr>
            <tr>
                <td>Github access token</td>
                <td>{{ user.githubaccesstoken }}</td>
            </tr>
            <tr>
                <td>Google Id</td>
                <td>{{ user.googleid }}</td>
            </tr>
            <tr>
                <td>Google access token</td>
                <td>{{ user.googleaccesstoken }}</td>
            </tr>
            <tr>
                <td>Profile picture</td>
                <td>
                    <h4 class="ui image header">
                        <img src="{{ user.profilePicture }}" class="ui mini rounded image">
                        <div class="content" style="font-weight: normal;">
                            {{ user.profilePicture }}
                        </div>
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        {{ form_start(delete_form) }}
        <button class="ui red left floated labeled icon button" type="submit"><i class="icon trash"></i> Delete</button>
        {{ form_end(delete_form) }}
        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="ui left floated labeled icon button"><i class="icon pencil"></i> Edit</a>
    </div>
{% endblock %}
