{% extends 'GateBundle::base-admin.html.twig' %}

{% block body %}
    <div class="ui basic segment">
        <div class="ui large breadcrumb">
            <a class="section" href="{{ path('admin') }}">Admin</a>
            <div class="divider"> / </div>
            <a class="section" href="{{ path('admin_quest_index') }}">Quests</a>
            <div class="divider"> / </div>
            <div class="active section">Create</div>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="ui raised segments">
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
        <div class="ui secondary clearing segment">
            <button class="ui green labeled icon button" type="submit"><i class="ui icon save"></i> Create</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#quest_tags').selectize({
            plugins: ['remove_button'],
        });
    </script>
{% endblock %}
