{% extends 'form_div_layout.html.twig' %}

{%- block form_start -%}
    {% set class = 'form-horizontal' ~ (errors.count >= 1 ? ' error' : '') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ class)|trim}) %}
    {{ parent() }}
{%- endblock form_start -%}

{%- block form_row -%}
    <div {% if 'collection' not in block_prefixes %}class="form-group"{% endif %}>
        {% if 'checkbox' not in block_prefixes and 'radio' not in block_prefixes %}
            {{- form_label(form, null, {'label_attr': {'class': 'control-label col-lg-2'}}) -}}
        {% endif %}
        {{- form_errors(form) -}}
        <div {% if 'collection' not in block_prefixes %}class="col-lg-10"{% endif %}>

            {% if 'collection' not in block_prefixes and 'checkbox' not in block_prefixes %}
                {{- form_widget(form, {'attr': {'class': 'form-control'}}) -}}
            {% else %}
                {{- form_widget(form) -}}
            {% endif %}
        </div>
    </div>
{%- endblock form_row -%}

{%- block checkbox_widget -%}
    <div class="form-group">
        <label class="checkbox-inline checkbox-right">
            <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %}checked="checked"{% endif %} />
            {{- form_label(form) -}}
        </label>
    </div>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <div class="inline field">
        <div class="ui toggle checkbox">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{- form_label(form) -}}
        </div>
    </div>
{%- endblock radio_widget -%}

{%- block adventure_step_row -%}
    <div class="panel panel-white m-15">
        <div class="panel-heading">
            <h6 class="panel-title">Step<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="close" data-popup="tooltip" title="Remove step" class="remove-step"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            {{ form_errors(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.rewardPoint) }}
            {{ form_row(form.position) }}
            {{ form_row(form.badge) }}
        </div>
    </div>
{%- endblock adventure_step_row -%}
