{% extends 'form_div_layout.html.twig' %}

{%- block form_start -%}
    {% set class = 'ui form' ~ (errors.count >= 1 ? ' error' : '') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ class)|trim}) %}
    {{ parent() }}
{%- endblock form_start -%}

{%- block form_row -%}
    <div class="ui field">
        {% if 'checkbox' not in block_prefixes and 'radio' not in block_prefixes %}
            {{- form_label(form) -}}
        {% endif %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block checkbox_widget -%}
    <div class="inline field">
        <div class="ui toggle checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{- form_label(form) -}}
        </div>
    </div>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <div class="inline field">
        <div class="ui toggle checkbox">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{- form_label(form) -}}
        </div>
    </div>
{%- endblock radio_widget -%}

{%- block step_row -%}
    <div class="fields">
        <div class="thirteen wide field">
            <div class="field">
                {{ form_errors(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
            </div>
            <div class="fields">
                <div class="four wide field">
                    {{ form_row(form.rewardPoint) }}
                </div>
                <div class="two wide field">
                    {{ form_row(form.position) }}
                </div>
                <div class="ten wide field">
                    {{ form_row(form.badge) }}
                </div>
            </div>
        </div>
        <div class="three wide field">
            <a href="#" class="ui button red mini right floated remove-step"><i class="close icon"></i> Delete step</a>
        </div>
    </div>
    <div class="ui divider"></div>
{%- endblock step_row -%}
