<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Badger{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/core.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/extras/animate.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/badger.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/game/css/extras/selectize.bootstrap3.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('bundles/game/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/core/libraries/bootstrap.min.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/core/app.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/pages/layout_fixed_custom.js') }}"></script>
    <!-- /theme JS files -->

    <!-- Lib JS files -->
    <script type="text/javascript" src="{{ asset('vendor/dist/mustache.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/dist/lodash.min.js') }}"></script>
    <!-- /lib JS files -->

    {% block stylesheets %}{% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
</head>
<body class="{% block bodyclass %}{% endblock %} sidebar-xs">

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url('admin') }}"><img src="{{ asset('bundles/game/images/badger-white-300.png') }}" alt="" style="margin-top: -6px; height: 30px;"></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content {% block pagecontentclass %}{% endblock %}">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li class="has-ul">
                                <a href="#"><i class="icon-medal2"></i> <span>Badges</span></a>

                                <ul class="hidden-ul">
                                    <li><a href="{{ url('admin_badge_index') }}"><i class="icon-list"></i> List</a></li>
                                    <li><a href="{{ url('admin_badge_new') }}"><i class="icon-plus2"></i> Create</a></li>
                                    <li><a href="{{ url('admin_claimed_badge_index') }}"><i class="icon-hour-glass2"></i> Pending</a></li>
                                    <li><a href="{{ url('admin_unlocked_badge_new') }}"><i class="icon-user-plus"></i> Give</a></li>
                                    <li><a href="{{ url('admin_unlocked_badge_delete') }}"><i class="icon-user-cancel"></i> Remove</a></li>
                                </ul>
                            </li>
                            <li class="has-ul">
                                <a href="#"><i class="icon-trophy4"></i> <span>Quests</span></a>

                                <ul class="hidden-ul">
                                    <li><a href="{{ url('admin_quest_index') }}"><i class="icon-list"></i> List</a></li>
                                    <li><a href="{{ url('admin_quest_new') }}"><i class="icon-plus2"></i> Create</a></li>
                                    <li><a href="{{ url('admin_claimed_quest_index') }}"><i class="icon-hour-glass2"></i> Pending</a></li>
                                </ul>
                            </li>
                            <li class="has-ul">
                                <a href="#"><i class="icon-trophy3"></i> <span>Adventures</span></a>

                                <ul class="hidden-ul">
                                    <li><a href="{{ url('admin_adventure_index') }}"><i class="icon-list"></i> List</a></li>
                                    <li><a href="{{ url('admin_adventure_form') }}"><i class="icon-plus2"></i> Create</a></li>
                                    <li><a href="{{ url('admin_claimed_adventure_step_index') }}"><i class="icon-hour-glass2"></i> Pending</a></li>
                                </ul>
                            </li>
                            <li class="has-ul">
                                <a href="#"><i class="icon-price-tag2"></i> <span>Tags</span></a>

                                <ul class="hidden-ul">
                                    <li><a href="{{ url('admin_tag_index') }}"><i class="icon-list"></i> List</a></li>
                                    <li><a href="{{ url('admin_tag_new') }}"><i class="icon-plus2"></i> Create</a></li>
                                </ul>
                            </li>
                            <li class="has-ul">
                                <a href="#"><i class="icon-users"></i> <span>People</span></a>

                                <ul class="hidden-ul">
                                    <li><a href="{{ url('admin_user_index') }}"><i class="icon-list"></i> List</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ url('homepage') }}"><i class="icon-home2"></i> <span>Dashboard</span></a>
                            </li>
                            <!-- /main -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div>


                <!-- Grid -->
                <div class="row">
                    <div class="col-md-12">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
                <!-- /grid -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
</div>
<!-- /page container -->

<script src="{{ asset('vendor/dist/Autolinker.min.js') }}"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>
