{% extends '@Game/base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-10">
            <!-- Timeline -->
            <div class="timeline timeline-left content-group">
                <div class="timeline-container">

                    {% for badgeCompletion in badgeCompletions %}
                        <!-- Feed unlock -->
                        <div class="timeline-row">
                            <div class="timeline-icon">
                                <div class="bg-success-400">
                                    <i class="icon-medal2"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel border-left-lg border-left-success invoice-grid timeline-content">
                                        <div class="panel-body no-padding-top no-padding-bottom">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h6 class="text-semibold">
                                                        <a href="{{ url('userprofile', {username: badgeCompletion.user.username}) }}">
                                                            <img src="{{ badgeCompletion.user.profilePicture }}" class="img-circle img-thumbnail hidden-xs" style="width: 60px;" alt=""> &nbsp; {{ badgeCompletion.user.username }}
                                                        </a>
                                                        unlocked the badge
                                                        <a href="{{ url('viewbadge', {id: badgeCompletion.badge.id}) }}" data-popup="popover" title="" data-trigger="hover" data-content="{{ badgeCompletion.badge.description|escape }}" data-original-title="{{ badgeCompletion.badge.title|escape }}">
                                                            {{ badgeCompletion.badge.title }}
                                                        </a>
                                                        <img src="{{ badgeCompletion.badge.imageWebPath }}" class="img-circle img-thumbnail pull-right hidden-xs" style="width: 60px;" alt="">
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer panel-footer-condensed">
                                            <div class="heading-elements">
                                                <span class="heading-text">
                                                    Unlocked on <span class="text-semibold">{{ badgeCompletion.completionDate|date('d/m/Y') }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /feed unlock -->
                    {% endfor %}

                </div>
            </div>
            <!-- /timeline -->
        </div>
    </div>
{% endblock %}
