{% extends '@Game/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                {% for tag in tags %}
                    {% if tag.badges is not empty %}
                        <li class="{{ 1 == loop.index ? 'active' : ''}}"><a href="#{{ tag.code }}" data-toggle="tab">{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for tag in tags %}
                <div class="tab-pane {{ 1 == loop.index ? 'active' : ''}}" id="{{ tag.code }}">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <ul class="media-list media-list-bordered champions-top-unlock champions-{{ tag.code }}">
                                {% for nbCompletions, champions in championsPerTag[tag.code] %}
                                    <li class="media p-15 no-margin-top home-champions-{{ loop.index <= 3 ? loop.index : 'other' }}">
                                        <div class="media-body">
                                            <div class="media-heading text-semibold"><span class="label label-striped">{{ nbCompletions }} Badges</span></div>
                                            <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                                                {% for user in champions %}
                                                    <li><a href="{{ url('userprofile', {username: user.username}) }}" data-popup="tooltip" title="" data-placement="top" data-original-title="{{ user.username }}"><img src="{{ user.profilePicture }}" class="img-circle img-xs mt-5" alt=""></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
