{% extends '@Game/base.html.twig' %}

{% block body %}
    <!-- User profile -->
    <div class="row">
        <div class="col-lg-3">

            <!-- User thumbnail -->
            <div class="thumbnail">
                <div class="thumb thumb-rounded thumb-slide">
                    <img class="thumbnail" src="{{ user.profilePicture }}" alt="">
                </div>

                <div class="caption text-center">
                    <h6 class="text-semibold no-margin">{{ user.username }} <small class="display-block">{{ user.tags|join(', ') }}</small></h6>
                </div>
            </div>
            <!-- /user thumbnail -->


            <!-- Navigation -->
            <div class="panel panel-body no-padding-bottom">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="content-group">
                            <h6 class="text-semibold no-margin"><i class="icon-medal2 position-left text-slate"></i> {{ unlockedBadges|length }}</h6>
                            <span class="text-muted text-size-small">BADGES</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /navigation -->
        </div>

        <div class="col-lg-9">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="active"><a href="#unlocked" data-toggle="tab" aria-expanded="true">Unlocked Badges <i class="icon-medal2 position-right"></i></a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="unlocked">
                        <!-- Latest added -->
                        {% for row in unlockedBadges|batch(2) %}
                        <div class="row">

                            {% for unlockedBadge in row %}
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="{{ url('viewbadge', {id: unlockedBadge.badge.id}) }}"><img style="width: 100px; height: 100px;" class="img-circle img-thumbnail" src="{{ unlockedBadge.badge.imageWebPath }}" alt=""></a>
                                            </div>

                                            <div class="media-body">
                                                <h6 class="media-heading text-semibold"><a href="{{ url('viewbadge', {id: unlockedBadge.badge.id}) }}" class="text-default">{{ unlockedBadge.badge.title }}</a></h6>
                                                {{ unlockedBadge.badge.description }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="heading-elements">
                                            <span class="heading-text text-muted"><i class="icon-checkmark position-left"></i> Unlocked on {{ unlockedBadge.unlockedDate|date("d/m/Y") }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                        <!-- /latest added -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /user profile -->
{% endblock %}
