{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_adventure_index') }}"><i class="icon-trophy3"></i> Adventures</a></li>
                <li class="active">
                    {% if adventure.id == null %}
                        <i class="icon-plus2"></i> Create
                    {% else %}
                        <i class="icon-pencil7"></i> Edit adventure "{{ adventure.title }}"
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="panel panel-flat m-15">
        <div class="panel-body">
            {{ form_row(form.title) }}
            {{ form_row(form.rewardPoint) }}
            {{ form_row(form.description) }}
            {{ form_row(form.badge) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.isStepLinked) }}
        </div>
    </div>

    <div class="content-group-sm ml-15">
        <h1 class="no-margin text-black">Steps <small>Add the steps to compose your adventure!</small></h1>
    </div>

    <div class="adventure-steps" data-prototype="{{ form_row(form.steps.vars.prototype)|escape }}">
        {{ form_row(form.steps) }}
    </div>

    <button id="add-another-step" type="button" class="ml-15 btn btn-default btn-xlg"><i class="icon-stack-plus position-left"></i> Add a step</button>
    <button type="submit" class="btn btn-primary pull-right mr-15 btn-xlg mb-15">Save <i class="icon-arrow-right14 position-right"></i></button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/forms/tags/selectize/selectize.min.js') }}"></script>

    <script type="text/javascript">
        var stepCount = '{{ form.steps|length }}';

        $(document).ready(function() {
            $('#adventure_tags').selectize({
                plugins: ['remove_button'],
            });

            $('#add-another-step').click(function(e) {
                e.preventDefault();

                var stepList = $('.adventure-steps');

                var newWidget = stepList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, stepCount);
                stepCount++;

                var newLi = $('<div class="ui field"></div>').html(newWidget);
                newLi.appendTo(stepList);

                $('.remove-step').click(function(e) {
                    $(this).closest('.ui.field').remove();

                    return false;
                });
            });

            $('.remove-step').click(function(e) {
                $(this).closest('.ui.field').remove();

                return false;
            });
        })
    </script>
{% endblock %}
