{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default no-margin-bottom">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_adventure_index') }}"><i class="icon-trophy3"></i> Adventures</a></li>
                <li class="active">"{{ adventure.title }}"</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="{{ path('admin_adventure_form', { 'id': adventure.id }) }}"><i class="icon-pencil5"></i> Edit</a></li>
                <li>
                    {{ form_start(delete_form) }}
                    <button style="margin-top: 4px;" type="submit" class="btn btn-xs bg-danger btn-labeled"><b><i class="icon-trash"></i></b> Delete</button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td>UUID</td>
            <td><code>{{ adventure.id }}</code></td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{ adventure.title}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="description">{{ adventure.description|nl2br }}</td>
        </tr>
        <tr>
            <td>Tagged in</td>
            <td>
                {% for tag in adventure.tags %}
                    <span class="label label-default">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Is step linked</td>
            <td><i class="{{ true == adventure.isStepLinked ? 'icon-checkmark4 text-success' : 'icon-cross2 text-danger' }} icon"></i></td>
        </tr>
        <tr>
            <td>Completion badge</td>
            <td>{{ null != adventure.badge ? adventure.badge.title : '' }}</td>
        </tr>
        <tr>
            <td>Nuts</td>
            <td>{{ adventure.rewardPoint }}</td>
        </tr>
        <tr>
            <td>Steps</td>
            <td>
                {% for step in adventure.steps %}
                    <div class="mb-10">
                        <div class="title"><mark>{{ step.title }}</mark></div>
                        <div class="description text-size-mini">{{ step.description|nl2br }}</div>
                    </div>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        // Auto link quests descriptions
        $('.description').each(function () {
            var linkedText = Autolinker.link( $(this).html() );
            $(this).html(linkedText);
        });
    </script>
{% endblock %}
