{% extends 'GameBundle::base-admin.html.twig' %}

{% block body %}
    <div class="page-header page-header-default">
        <div class="breadcrumb-line" style="border-bottom: 0; z-index: 5;">
            <ul class="breadcrumb">
                <li><a href="{{ path('admin') }}"><i class="icon-home2 position-left"></i> Admin</a></li>
                <li><a href="{{ path('admin_quest_index') }}"><i class="icon-trophy4"></i> Quests</a></li>
                <li class="active"><i class="icon-hour-glass2"></i> Pending</li>
            </ul>
        </div>
    </div>

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered ml-15 mr-15">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-warning alert-styled-left ml-15 mr-15">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}

    {% if pendingCompletions is not empty %}
    <div class="panel panel-flat m-15">
        <div class="table-responsive">
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th class="single line">User</th>
                        <th>Quest</th>
                        <th>Claimed date</th>
                        <th>Accept that claim?</th>
                    </tr>
                </thead>
                <tbody>
                {% for pendingCompletion in pendingCompletions %}
                <tr>
                    <td>
                        <img class="img-circle" style="width: 60px;" src="{{ pendingCompletion.user.profilePicture }}">
                        <span class="ml-10">{{ pendingCompletion.user.username }}</span>
                    </td>
                    <td class="single line">
                        <a href="{{ path('admin_quest_show', { 'id': pendingCompletion.quest.id }) }}">{{ pendingCompletion.quest.title }}</a>
                    </td>
                    <td>
                        {{ pendingCompletion.completionDate|date("d/m/Y") }}
                    </td>
                    <td class="center aligned">
                        <div class="ui tiny buttons">
                            <a href="{{ url('admin_claimed_quest_accept', { 'id': pendingCompletion.id }) }}" class="btn btn-success btn-icon btn-rounded">
                                <i class="icon-thumbs-up2"></i>
                            </a>
                            <a href="{{ url('admin_claimed_quest_reject', { 'id': pendingCompletion.id }) }}" class="btn btn-danger btn-icon btn-rounded ml-10">
                                <i class="icon-thumbs-down2"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="text-center">
            <i class="icon-thumbs-up2 mb-10"></i> <br>
            <mark class="p-5">No claim, no pain.</mark>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/tables/datatables_basic.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/plugins/forms/selects/select2.min.js') }}"></script>
{% endblock %}
